.secret-dot{

width:12px;
height:12px;

border-radius:50%;

background:#bbb;

border:none;

position:fixed;

right:15px;

bottom:15px;

opacity:0.4;

cursor:pointer;

}


.secret-dot:hover{

opacity:1;

}
/* CALENDÁRIO */

.grade-calendario {

    display: grid;

    grid-template-columns: repeat(7, 1fr);

    gap: 8px;

    margin-top: 20px;

}



.dia {

    background: white;

    border-radius: 12px;

    padding: 15px;

    text-align: center;

    font-weight: bold;

    cursor: pointer;

    border: 1px solid #ddd;

}



.dia:hover {

    transform: scale(1.05);

}



.vazio {

    background: transparent;

    border: none;

}



/* Estados das datas */

.livre {

    background: white;

}



.pendente {

    background: #fff3a3;

}



.ocupado {

    background: #ff8b8b;

    color: white;

}
