.secret-dot{

width:12px;
height:12px;

border-radius:50%;

background:#bbb;

border:none;

position:fixed;

right:15px;

bottom:15px;

opacity:0.4;

cursor:pointer;

}


.secret-dot:hover{

opacity:1;

}
